html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #eeeeee;
	padding: 0px;
	margin: 0px;
}

.section {
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-self: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
}

.hearts {
	color: #ff0000;
}

#lives {
	font-size: 3em;
	font-weight: bold;
}

#score {
	font-size: 2em;
}

#roundinfo {
	max-width: 750px;
}

#round {
	font-size: 2em;
}

#name {
	font-size: 3em;
	font-weight: 600;
	margin: 15px 0px;
}

#location {
	font-size: 1.5em;
}

#datainput {
	width: 100%;
}

#slidertext {
	font-size: 1.5em;
}

#slidercontainer {
	max-width: 750px;
	width: 100%;
	padding: 20px 0px;
}

#slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #dddddd;
	outline: none;
	transition: opacity 0.2s;
	cursor: pointer;
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #1caae6;
}

#slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #1caae6;
}

button {
	all: unset;
	cursor: pointer;
	align-self: center;
	border-radius: 5px;
	background-color: #1caae6;
	padding: 10px 30px;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	transition: background-color 0.25s ease-in-out;
}

button:hover {
	background-color: #1896cc;
}

#res-text {
	font-size: 4em;
	font-weight: 600;
}

#res-table tr td {
	font-size: 2em;
	padding: 0px 20px;
}

#res-table tr td:nth-child(1) {
	text-align: left;
}
#res-table tr td:nth-child(2) {
	text-align: right;
}

#table-divider {
	padding: 20px 20px !important;
}

#table-divider:before {
	content: '';
	display: block;
	background-color: black;
	height: 5px;
	border-radius: 5px;
}
