html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #eeeeee;
	padding: 0px;
	margin: 0px;
}

a,
a:hover,
a:active {
	color: black;
}
.hidden {
	display: none !important;
}
.section {
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.padding {
	margin: 15px 0px;
}

.padding-2 {
	margin: 30px 0px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-self: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
}

#title {
	display: block;
	font-size: 3em;
	margin-bottom: 10px;
}

#instructions-title,
#data-sources-title {
	font-size: 1.5em;
	text-align: center;
}

#instructions,
#data-sources {
	text-align: left;
	max-width: 500px;
	font-size: 0.9em;
	line-height: 1.5;
}

.hearts {
	color: #ff0000;
}

#lives {
	font-size: 2.5em;
	font-weight: bold;
}

#score {
	font-size: 1.5em;
}

#roundinfo {
	max-width: 750px;
}

#round {
	font-size: 1em;
}

#name {
	font-size: 2em;
	font-weight: 600;
	margin: 15px 0px;
}

#location {
	font-size: 1.25em;
}

#datainput {
	width: 100%;
}

#slidertext {
	font-size: 1.5em;
}

#slidercontainer {
	max-width: 750px;
	width: 100%;
	padding: 20px 0px;
}

#slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #dddddd;
	outline: none;
	transition: opacity 0.2s;
	cursor: pointer;
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #1caae6;
}

#slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #1caae6;
}

button {
	all: unset;
	cursor: pointer;
	align-self: center;
	border-radius: 5px;
	background-color: #1caae6;
	padding: 10px 30px;
	transition: background-color 0.25s ease-in-out;
}

button:hover {
	background-color: #1896cc;
}

#res-text {
	font-size: 3em;
	font-weight: 600;
}

#res-table > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#res-table > div > div {
	font-size: 1.25em;
}

#res-table > div > div:nth-child(1) {
	text-align: left;
	padding-right: 20px;
}
#res-table > div > div:nth-child(2) {
	text-align: right;
	padding-left: 20px;
}

#table-divider {
	padding: 20px 20px !important;
}

#table-divider:before {
	content: '';
	display: block;
	background-color: black;
	width: 100%;
	height: 5px;
	border-radius: 5px;
}

@media (min-height: 600px) {
	.padding {
		margin: 25px 0px;
	}

	.padding-2 {
		margin: 50px 0px;
	}
}

@media (min-width: 500px) {
	#section {
		padding: 25px;
	}

	#title {
		font-size: 4em;
	}

	#instructions-title,
	#data-sources-title {
		font-size: 2em;
	}

	#instructions,
	#data-sources {
		font-size: 1.25em;
	}

	#lives {
		font-size: 3em;
	}

	#score {
		font-size: 2em;
	}

	#round {
		font-size: 2em;
	}

	#name {
		font-size: 3em;
	}

	#location {
		font-size: 1.5em;
	}

	#slidertext {
		font-size: 1.5em;
	}

	#res-text {
		font-size: 4em;
	}

	#res-table > div > div {
		font-size: 2em;
	}
}
